body{
	background-image: url('../resources/back.jpg');
	background-color: #080808;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
font-family: 'Rubik Mono One','Oswald';
}



h1{
	color: #dcdbe1	;
	font-size: 36px;
	text-align: center;

}

p{
	color: #FFFFFF;
	font-size: 24px;
text-indent: 1.5em;

margin-top: 2em;
margin-bottom: 2em;
margin-left: 35px;
}
a{
	text-decoration: none;
	color: #D378A0;	
	display:block ;
}
#menu   {
	font-size: 20px;
	background: linear-gradient(
		90deg,
		rgba(48, 48, 50, 0.8),
		rgba(48, 48, 50, 0.5)  25%,
		 rgba(48, 48, 50, 0.3)  50%,
		 rgba(48, 0, 0, 0)  75%

		);
	line-height: 50px;	

}

#menu ul{
margin:0 auto ;
	text-align :center;	
padding-left: 0px;
}

#menu ul li {
list-style: none;
	display: inline-block;
margin-left: 10px;
margin-right: 10px;	
}


#back{
		min-width: 400px;
	display:flex;
	flex-direction:column;
	width:80%;
	margin:auto;
	background: linear-gradient(45deg,rgba(21, 24, 36, 0.6),rgba(11, 13, 23, 0.1));

} 

#menu .TextSpacing{	
	word-spacing:normal;
}
#menu a:hover{
background:rgba(50, 24, 36, 0.6);
} 
img{
margin: 20px;
opacity: 0.9;
border: 2px solid rgba(0, 30, 100, 0.4);
}

article{
display:flex;
flex-direction: row; 


}
article section {
flex: 2;

}
.sec{
	flex: 1;
display:flex;
flex-direction: column; 
}


footer{
margin-left: 35px;
margin-top: 35px;
margin-bottom: 35px;
}

/*О мне*/
.img{
display: block;
margin: auto;

}

.Zel{
	margin-top:30px;
margin-bottom:15px;
}

.mainWords{
	color: #8ad0d6;
 
}
.skills{
margin-left: 30px;
margin-right:  30px;
padding-left: 0px;
margin-top: 0px;
}
.skills li {
display:  block;
margin-bottom: 15px;
/*background: rgba(0, 48, 50, 0.2);*/
line-height: 240%;
text-decoration: none;
	font-size: 20px;
text-indent: 1.5em;
color: #8ad0d6;
font-weight: 300;
}
.skills li:hover{
display:  block;
background: rgba(0, 0, 60, 0.1);
transition: 2s;
}


.skills li::after{
display: block;
overflow: hidden;
content: attr(txtTable);
color: #FFFFFF;
font-size: 15px;
text-indent: 0px;
transition: all  0.3s ease-in-out;
height: 0px;
}

.skills li:hover::after
{
height: 100px;
}



.contact{
margin-left: 50px;
border-collapse: collapse;
margin: auto;
}



.contact img{
height: 64px;
width: 64px;
}

.contact tr{
background:  rgba(0, 30, 100, 0.09);
transition: 1s;
}
.contact tr:hover{
background:  rgba(100, 100, 100, 0.4);
transition: 1s;
}

.contact td{
border: 4px solid  rgba(10, 11, 38, 0.7); 
text-align: center;
padding: 5px;
color: white;
word-wrap:  break-word;
 word-break: break-word;
}
.tableR{   width: 100%;
 }



